<section class="page-title"
  style="background-image:url(../../../assets/images/news/Background.jpg); background-position-y: top">
  <div class="auto-container">
    <h1>ACTUALITÉS</h1>
    <ul class="page-breadcrumb">
      <li><a routerLink="/home">Accueil</a></li>
      <li>Actualités</li>
    </ul>
  </div>
</section>

<section class="news-page-section">
  <div class="auto-container">
    <div class="row clearfix">
      <!--News Block Three-->
      <div *ngFor="let newss of news | paginate: { itemsPerPage: 3, currentPage: p }"
        class="news-block-three col-md-6 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image">
            <a routerLink="/news/{{newss.id}}"><img src="../../../assets/images/news/{{newss.image}}" alt="" /></a>
          </div>
          <div class="lower-content">
            <div class="upper-box">
              <div class="posted-date">{{newss.date}}</div>
            </div>
            <div class="lower-box">
              <h3>
                <a routerLink="/news/{{newss.id}}">{{newss.title}}</a>
              </h3>
              <div class="text">
                {{newss.description}}
              </div>
              <a routerLink="/news/{{newss.id}}" class="theme-btn btn-style-four read-more">Lire la suite</a>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!--End Styled Pagination-->
  </div>
</section>