
<!--Page Title-->
<section class="page-title" style="background-image:url(../../../assets/images/background/3.jpg)">
  <div class="auto-container">
    <h1>Sponsors et Partenaires</h1>
    <ul class="page-breadcrumb">
      <li><a href="../../../index.html">Home</a></li>
      <li>Sponsors et Partenaires</li>
    </ul>
  </div>
</section>
<!--End Page Title-->

<!--Clients Section-->
  <section class="services-section-two" >
    <div class="auto-container">
      <!--Services Title-->
      <div class="services-title clearfix">
        <div class="title" >Nos sponsors:</div>
        <h2>We are woodex offer any posible carpentry and carpentry administrations you may require. we finding the correct answer for each circumstance.</h2>
        <div class="text">sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit. </div>
      </div>
      <div class="row clearfix">

        <!--Services Block Two-->
        <div *ngFor="let sponsor of sponsors" class="services-block-two col-lg-4 col-md-4 col-sm-6 col-xs-12">
          <div class="inner-box">
            <div class="image" >
              <img src="../../../assets/images/clients/{{sponsor.image}}" alt="">
            </div>
            <h3>{{sponsor.name}}</h3>
          </div>
        </div>
      </div>

      <div class="services-title clearfix">
        <div class="title">Nos partenaires:</div>
        <h2>We are woodex offer any posible carpentry and carpentry administrations you may require. we finding the correct answer for each circumstance.</h2>
      </div>
    </div>
    <div class="row clearfix">

      <!--Services Block Two-->
      <div *ngFor="let partner of partners" class="services-block-three col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="inner-box">
          <div class="image" >
            <img src="../../../assets/images/clients/{{partner.image}}" alt="">
          </div>
          <h3>{{partner.name}}</h3>
        </div>
      </div>
    </div>


  </section>
  <!--End Services Section Two-->

