<div id="slider">
  <div class="slides">
    <!-- First slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Plaquette de prospection</h1>
          <a href="../../../assets/Plaquette de prospection.pdf" download="" class="theme-btn btn-style-two">Telecharger</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets/images/Slider.jpg" />
      </div>
    </div>
    <!-- Second slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Plaquette de prospection</h1>
          <a href="../../../assets/Plaquette de prospection.pdf" download="" class="theme-btn btn-style-two">Telecharger</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets/images/Slider.jpg" />
      </div>
    </div>
    <!-- Third slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Plaquette de prospection</h1>
          <a href="../../../assets/Plaquette de prospection.pdf" download="" class="theme-btn btn-style-two">Telecharger</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets/images/Slider.jpg" />
      </div>
    </div>
    <!-- Fourth slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Plaquette de prospection</h1>
          <a href="../../../assets/Plaquette de prospection.pdf" download="" class="theme-btn btn-style-two">Telecharger</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets/images/Slider.jpg" />
      </div>
    </div>
  </div>
</div>
