<div id="slider">
  <div class="slides">
    <!-- First slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Your title</h1>
          <a href="" class="theme-btn btn-style-two">Purchase now</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets//images/main-slider/image-2.jpg" />
      </div>
    </div>
    <!-- Second slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Your title</h1>
          <a href="" class="theme-btn btn-style-two">Purchase now</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets//images/main-slider/image-3.jpg" />
      </div>
    </div>
    <!-- Third slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Your title</h1>
          <a href="" class="theme-btn btn-style-two">Purchase now</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets//images/main-slider/image-2.jpg" />
      </div>
    </div>
    <!-- Fourth slide -->
    <div class="slider">
      <div class="legend"></div>
      <div class="content">
        <div class="content-txt">
          <h1>Your title</h1>
          <a href="" class="theme-btn btn-style-two">Purchase now</a>
        </div>
      </div>
      <div class="images">
        <img src="../../../assets//images/main-slider/image-3.jpg" />
      </div>
    </div>
  </div>
</div>
