<app-slider></app-slider>

<!-- Project section -->
<section class="project-section style-two" style="margin-top: 0rem;">
  <div class="auto-container">
    <!--Sec Title-->
    <div style="margin-bottom: -5rem" class="sec-title-two">
      <h2>Nos Projets</h2>
    </div>
    <section class="services-section-two">
      <div class="auto-container">
        <!--Services Title-->
        <div class="services-title clearfix">
          <h2 style="font-family: 'Typo-Grotesk-Regulier'">
            Découvrez nos projets
          </h2>
          <a routerLink="/projects" class="services-link"
            >Lire tous les projets</a
          >
        </div>
        <div class="row clearfix">
          <!--Porfolio Tabs-->
          <div class="project-tab">
            <!--Tabs Content-->
            <div class="p-tabs-content">
              <!--Portfolio Tab / Active Tab-->
              <div class="p-tab active-tab" id="p-tab-1">
                <div
                  class="project-carousel-two owl-theme owl-carousel owl-loaded owl-drag"
                >
                  <div class="owl-stage-outer">
                    <div
                      class="owl-stage"
                      style="transition: all 0.7s ease 0s;"
                    >
                      <div
                        *ngFor="let project of projects"
                        class="owl-item active"
                        style="width: 283.5px; margin-right: 30px;"
                      >
                        <div class="gallery-item-two">
                          <div class="inner-box">
                            <figure class="image-box">
                              <img
                                src="../../../assets/images/projets/affiche{{
                                  project.img
                                }}"
                                alt=""
                              />
                              <!--Overlay Box-->
                              <div class="overlay-box">
                                <div class="overlay-inner">
                                  <div class="content">
                                    <a
                                      routerLink="/projects/{{ project.id }}"
                                      data-fancybox-group="example-gallery"
                                      class="link lightbox-image"
                                      ><span
                                        class="icon flaticon-search-1"
                                      ></span
                                    ></a>
                                  </div>
                                  <h3>
                                    <a
                                      routerLink="/projects/{{ project.id }}"
                                      >{{ project.name }}</a
                                    >
                                  </h3>
                                </div>
                              </div>
                            </figure>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</section>

<!--  Why us Section -->
<section class="fluid-section-one">
  <div class="outer-container clearfix">
    <!--Image Column-->
    <div
      class="image-column"
      style="background-image:url(../../../assets/images/background/BureauExecutif_2018-2019.jpg);"
    ></div>
    <!--Content Column-->
    <div class="content-column">
      <div class="inner-box">
        <h2 style="font-family: 'Typo-Grotesk-Bold'">Nos Volets</h2>
        <div class="column-text" style="font-family: 'Typo-Grotesk-Regulier'">
          L'INAT Junior Entreprise fonctionne sur le modèle d'une entreprise à
          services agronomiques
          <br />
          Notre stratégie repose sur trois volets principaux, à savoir :
        </div>

        <!--Accordian Box-->
        <ul class="accordion-box style-two">
          <!--Block-->
          <li *ngFor="let value of values" class="accordion block active-block">
            <div class="acc-btn active">
              <div class="icon-outer">
                <span class="icon icon-plus fa fa-plus"></span>
                <span class="icon icon-minus fa fa-minus"></span>
              </div>
              {{ value.title }}
            </div>
            <div class="acc-content current">
              <div class="content">
                <div class="text">
                  {{ value.description }}
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!-- Event Section -->
<section class="news-section grey-bg">
  <div class="auto-container">
    <div class="sec-title-two" ><h2>Nos Evenements</h2></div>
    <div class="row clearfix">
      <!--Column-->
      <div class="column col-md-12 col-sm-12 col-xs-12">
        <div class="row clearfix">
          <!--News Block-->
          <div
            *ngFor="let event of events"
            class="news-block col-md-4 col-sm-4 col-xs-12"
          >
            <div class="inner-box">
              <div class="image">
                <img
                  src="../../../assets/images/events/{{ event.img }}"
                  alt=""
                />
                <a routerLink="/events/{{ event.id }}" class="overlay-link"></a>
              </div>
              <div class="lower-box">
                <div class="text-center">
                  <div class="post-date">{{ event.date }}</div>
                </div>
                <h3>
                  <a routerLink="/events/{{ event.id }}">{{ event.name }}</a>
                </h3>
                <div class="text">
                  {{ event.description }}
                </div>
                <a routerLink="/events/{{ event.id }}" class="read-more"
                  >Lire la suite</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!--  Counter -->
<div class="fact-counter-section" style="background-color: black">
  <div class="fact-counter">
    <div class="auto-container">
      <div class="row clearfix">
        <!--Column-->
        <div
          *ngFor="let counter of counters"
          class="column counter-column col-md-3 col-sm-6 col-xs-12"
        >
          <div class="inner">
            <div class="count-outer count-box counted">
              <span class="count-text" data-speed="2000" data-stop="12">{{
                counter.nb
              }}</span>
            </div>
            <h4 class="counter-title">{{ counter.title }}</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<!--  Formation section -->
<section class="services-section">
  <div class="auto-container">
    <!--Services Title-->
    <div class="services-title">
      <div class="title">Bienvenue dans nos formations</div>
      <h2>
        L'autre façon d'apprendre
      </h2>
    </div>
    <div class="row clearfix">
      <!--Services Block-->
      <div
        *ngFor="let formation of formations"
        class="services-block col-md-3 col-sm-6 col-xs-12"
      >
        <div class="inner-box">
          <div class="image">
            <a routerLink="/formations/{{ formation.id }}"
              ><img
                src="../../../assets/images/formations/affiche/{{
                  formation.img
                }}"
                alt=""
            /></a>
          </div>
          <h3>
            <a routerLink="/formations/{{ formation.id }}">{{
              formation.name
            }}</a>
          </h3>
        </div>
      </div>
    </div>
    <div class="btn-box text-center">
      <a routerLink="/formations" class="theme-btn btn-style-four"
        >Lire tous les formations</a
      >
    </div>
  </div>
</section>


<!-- News Section -->
<section class="news-section grey-bg">
  <div class="auto-container">
    <div class="sec-title-two" ><h2>Actualités</h2></div>
    <div class="row clearfix">
      <!--Column-->
      <div class="column col-md-12 col-sm-12 col-xs-12">
        <div class="row clearfix">
          <!--News Block-->
          <div
            *ngFor="let newss of news"
            class="news-block col-md-4 col-sm-4 col-xs-12"
          >
            <div class="inner-box">
              <div class="image">
                <img
                  src="../../../assets/images/news/{{ newss.img }}"
                  alt=""
                />
                <a routerLink="/news/{{ newss.id }}" class="overlay-link"></a>
              </div>
              <div class="lower-box">
                <div class="text-center">
                  <div class="post-date">{{ newss.date }}</div>
                </div>
                <h3>
                  <a routerLink="/news/{{ newss.id }}">{{ newss.name }}</a>
                </h3>
                <div class="text">
                  {{ newss.description }}
                </div>
                <a routerLink="/news/{{ newss.id }}" class="read-more"
                  >Lire la suite</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>



<!--  Sponsors Section -->
<section style="margin-bottom: 50px" >
  <div class="slider" >
    <div class="slide-track">
      <div class="slide" *ngFor="let sponsor of sponsors" style="margin-right: 15px;">
        <img src="../../../assets/images/S/{{ sponsor.image }}" height="100" width="250" alt="" style=""/>
      </div>
    </div>
  </div>
</section>

