.logo {
    width: 200px;
    height: auto;
}


@media only screen and (max-width: 599px){
    footer {
        text-align: center;
      }
    .logo {
        float:none;
		margin-left:0px;
		text-align:center;
		display:inline-block;
    }  
}