.team-block-two .inner-box .lower-box h4 {
    position: relative;
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    line-height: 1.2em;
    padding: 15px 0px;
    background-color: #f3ce44;
    font-family: 'Poppins', "Lato", sans-serif;}