<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="width : auto; height: auto; margin:  auto;" >
<div class="auto-container" >

  <div class="sec-title-two">
    <h2>  Fondateur de l'entité</h2>
  </div>

  <div class="row clearfix">


    <div class="team-block-two col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/membres%20fondateurs/MohamedAliTrabelsi2.jpg" alt="" />
          <div class="overlay-box">
         <p style="color: snow;font-size: larger"><br><br>" Soyez le changement que vous voulez voir dans le monde. "</p>

            <ul class="social-icon-two">
              <li><a href="https://m.facebook.com/tdali10"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.linkedin.com/in/mohamed-ali-trabelsi-77a4a0b1/"><span class="fa fa-linkedin"></span></a></li>
            </ul>
              <br> <br> <br><p align="center" style="color: snow; position: absolute;bottom: 17%;  text-align: center;width: 100%" > Tél : +491601894083 </p>
          </div>
        </div>
        <div class="lower-box">
          <h3>Mohamed Ali Trabelsi</h3>
        </div>
      </div>
    </div>

    </div>

    <p align="center" style="font-size: larger">  <b>Mohamed Ali Trabelsi</b> is a young Tunisian social activist, who advocates for youth development. Mohamed Ali currently studies Agrarmanagement at Technical University of Munich.
In March 2013 Mohamed Ali founded <b>INAT Junior Enterprise</b>, a non-governmental organization that promotes youth participation in <b>decision-making, leadership, education, and civic engagement</b>. He aspires to help young people build leadership skills in order to <b>become change agents in their communities</b>. He has directed several projects within his organization in Agriculture, and delivered trainings on leadership and youth development. Mohamed Ali is currently the vice president of the Afek organization which promotes social development, coaching youth and support rural Women. 
    <br> <b>
    </b></p>

  </div>
<br> <br>

<div class="auto-container" >

  <div class="sec-title-two">
    <h2>  Fondateur de l'assocation</h2>
  </div>

  <div class="row clearfix">


    <div class="team-block-two col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-4 col-sm-offset-4 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/membres%20fondateurs/Mohamed%20Salah%20Bougatef.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="https://www.facebook.com/mosaliiih"><span class="fa fa-facebook"></span></a></li>
              <li><a href="https://www.linkedin.com/in/mohamed-salah-bougatef-b8a69a136/"><span class="fa fa-linkedin"></span></a></li>
            </ul>
              <br> <br> <br><p align="center" style="color: snow; position: absolute;bottom: 17%;  text-align: center;width: 100%" > Tél : +216 50 470 595 </p>
          </div>
        </div>
        <div class="lower-box">
          <h3>Mohamed Salah Bougatef</h3>
        </div>
      </div>
    </div>

    </div>

    <p align="center" style="font-size: larger"> Un bébé, on le nourrit, on en prend soin, on l'aide à faire ses premiers petits pas, à prononcer ses premiers mots, à avancer petit à petit jusqu'à devenir grand, non ?
    Comment ne pas vouloir que mon bébé avance, la chose qui m'est précieuse, l'INAT Junior Entreprise, ma plus grande fierté, comment ne pas combattre pour qu'elle devienne une association, pour qu'elle se dévoile en devant tout le monde avec une reconnaissance juridique qui lui permettra d'avancer et qui lui facilitera son intégration et la réalisation de ses prestations sur une échelle large et variée,
    Dès le premier jour de mon intégration dans l'équipe en tant que membre, ensuite en tant que président, j'ai su que je suis venu pour m'investir à fond afin d'accorder  le titre d'association à l'INAT JE et je n'ai jamais été aussi fier, de mon équipe qui m'a toujours soutenu et aussi de l'équipe qui tient la flamme maintenant et toutes celles qui suivront pour un meilleur avenir quant à notre entité de coeur.
    Je remercie énormément l’INAT Junior Entreprise pour tout, pour les opportunités, pour les connaissances, pour mon développement, pour tout !
    <br> <b>
    On ne fait pas partie de l’INAT JE, on est l’INAT JE !</b></p>

  </div>
<br> <br>

  <div class="sec-title-two" style="left: 1em;">
    <h2> Membres du bureau executif:</h2>
  </div>

  <div class="row clearfix" >


      <!--Team Block Two-->
      <div *ngFor="let member of members" class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/{{member.image}}" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger; text-align: center"><br><br>{{member.quote}}</p>
                      <ul class="social-icon-two">
                          <li><a href={{member.fb}}><span class="fa fa-facebook"></span></a></li>
                          <li><a href="{{member.lin}}"><span class="fa fa-linkedin"></span></a></li>
                      </ul>
                      <br> <br> <br><p align="center" style="color: snow; position: absolute;bottom: 17%;  text-align: center;width: 100%" > E-mail : {{member.email}} <br> Tél : {{member.tel}} </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3> {{member.name}}</h3>
                  <h4>{{member.post}}</h4>
              </div>
          </div>
      </div>
      <div class="flex-lg-row" style="width: 100%; align-content: center" align="center">



          <!-- Team Block Two-->
          <div class="team-block-two col-lg-3 col-lg-offset-3 col-md-4 col-sm-6 col-xs-10" >
              <div class="inner-box">
                  <div class="image">
                      <img src="../../../assets/images/Structure/bureau2018-2019/rh%20et%20formation.JPG" alt="" />
                      <div class="overlay-box">
                          <p style="color: snow;font-size: larger"><br><br>" Si vous pouvez le rêver, vous pouvez le faire. "</p>
                          <ul class="social-icon-two">
                              <li><a href="https://www.facebook.com/yasmine.mbarki.5"><span class="fa fa-facebook"></span></a></li>
                              <li><a href="https://www.linkedin.com/in/yasmin-mbarki-269a63158"><span class="fa fa-linkedin"></span></a></li>
                          </ul>
                          <p align="center" style="color: snow; position: absolute;bottom: 17%; width: 100%;" > E-mail : yasmin.mbarki96@gmail.com <br> Tél : +216 58 464 742 </p>

                      </div>
                  </div>
                  <div class="lower-box">
                      <h3>Yasmin Mbarki</h3>
                      <h4>Responsable RH et Formations</h4>
                  </div>
              </div>
          </div>

      <!--Team Block Two-->

      <div class="team-block-two col-lg-3 col-lg-pull-3 col-md-4 col-md-push-4  col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/etude.JPG" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger;position: absolute;top: 0%"><br><br>"Tu deviens responsable pour toujours de ce que tu as apprivoisé"</p>
                      <ul class="social-icon-two">
                          <li><a href="https://www.facebook.com/mariembenmahrez96"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="https://www.linkedin.com/in/mariem-ben-mahrez-1867a2157/"><span class="fa fa-linkedin"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; width: 100%;" > E-mail : benmahrezmariem@gmail.com <br> Tél : +216 22 456 380 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3>Mariem Ben Mahrez</h3>
                  <h4>Responsable Etudes</h4>
              </div>
          </div>
      </div>


      </div>

  </div>
</body>