
<body style="width : auto; height: auto; margin:  auto;" >
<div class="auto-container" >

  <div class="sec-title-two">
    <h2>  Membres Fondateurs:</h2>
  </div>

  <div class="row clearfix">

    <div class="team-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/template-pics/resource/team-5.jpg" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br> "quote"</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Fondateur1</a></h3>
        </div>
      </div>
    </div>

    <div class="team-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/template-pics/resource/team-6.jpg" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br> "quote"</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Fondateur 2</a></h3>
        </div>
      </div>
    </div>

    <div class="team-block-two col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/template-pics/resource/team-7.jpg" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br> "quote"</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Fondateur 3</a></h3>
        </div>
      </div>
    </div>
    </div>

  </div>


  <div class="sec-title-two">
    <h2>  Membres du bureau executif:</h2>
  </div>

  <div class="row clearfix" >
    <!--&lt;!&ndash;Team Block Two&ndash;&gt;
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10" >
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/bureau2018-2019/president.JPG" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br>"  Plus le combat est grand plus la victoire est immense "</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <p align="center" style="color: snow; position: absolute;bottom: 17%; left:50px" > E-mail : aoursouene@gmail.com <br> Tél : +216 25 865 393 </p>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Mohamed Oursouene Ayari </a></h3>
          <h4>Président</h4>
        </div>
      </div>
    </div>

    &lt;!&ndash;Team Block Two&ndash;&gt;
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/bureau2018-2019/VP.jpg" alt=""  />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br>" Se réunir est un début, rester ensemble est un progrès, travailler ensemble est la réussite "</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <p align="center" style="color: snow; position: absolute;bottom: 17%; left:30px" > E-mail : mariem.aouadi.ma@gmail.com <br> Tél : +216 21 348 405 </p>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Marriem Aouadi</a></h3>
          <h4>VP</h4>
        </div>
      </div>
    </div>

      &lt;!&ndash;Team Block Two&ndash;&gt;
      <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/SG.JPG" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger"><br><br>"  Chaque bonne réalisation, grande ou petite, connait ses périodes de corvées et de triomphes; un début, un combat et une victoire."</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; left:40px" > E-mail : nourabouthour@gmail.com <br> Tél : +216 27 270 104 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">Noura Bouthour</a></h3>
                  <h4>SG</h4>
              </div>
          </div>
      </div>


      &lt;!&ndash;Team Block Two&ndash;&gt;
      <div class="team-block-two col-lg-3 col-md-4  col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/tresorier.JPG" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger"><br><br>" Je suis un guerrier et un insatisfait permanent, c'est ça l'apanage du champion. "</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; left:9%" > E-mail : rezgui.marouen.12@gmail.com <br> Tél : +216 25 601 877 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">Marwen Rezgui</a></h3>
                  <h4>Trésorier</h4>
              </div>
          </div>
      </div>


    &lt;!&ndash;Team Block Two&ndash;&gt;
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10" >
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/bureau2018-2019/projet%20et%20prospection.JPG" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br>" C'est votre attitude, bien plus que votre aptitude, qui détermine votre altitude."</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <p align="center" style="color: snow; alignment: center; position: absolute;bottom: 17%; left:25px" > E-mail : Meriam2.8bettaieb@gmail.com <br> Tél : +216 50 660 123 </p>

          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Meriam Bettaieb</a></h3>
          <h4>Responsable Projets et prospection</h4>
        </div>
      </div>
    </div>

    &lt;!&ndash;Team Block Two&ndash;&gt;
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/bureau2018-2019/partenariat.JPG" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br>" Tout est possible à qui rêve, ose, travaille et n'abandonne jamais "</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <p align="center" style="color: snow;position: absolute;bottom: 17%; left:50px" > E-mail : maya.bsalem@gmail.com <br> Tél : +216 53 530 405 </p>

          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Maya Ben salem</a></h3>
          <h4>Responsable Partenariats</h4>
        </div>
      </div>
    </div>




    &lt;!&ndash;Team Block Two&ndash;&gt;
    <div class="team-block-two  col-lg-3 col-md-4 col-sm-6 col-xs-10">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/bureau2018-2019/logistique.JPG" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br>" Quoi que tu rêves d’entreprendre, commence-le. L’audace a du génie, du pouvoir, de la magie. "</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <p align="center" style="color: snow; position: absolute;bottom: 17%; text-align: center; left:15px" > E-mail : benlakhdar.manel.gm@gmail.com <br> Tél : +216 56 302 634 </p>

          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Manel Ben Lakhdher</a></h3>
          <h4>Responsable Logistique</h4>
        </div>
      </div>
    </div>

  <div class="wrapper">
    &lt;!&ndash;Team Block Two&ndash;&gt;
    <div class="team-block-two  col-lg-3 col-md-4 col-sm-6 col-xs-10 align-self-center justify-content-end">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/Structure/bureau2018-2019/rh%20et%20formation.JPG" alt="" />
          <div class="overlay-box">
            <p style="color: snow;font-size: larger"><br><br>" Si vous pouvez le rêver, vous pouvez le faire. "</p>
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
            <p align="center" style="color: snow; position: absolute;bottom: 17%; left:10%" > E-mail : yasmin.mbarki96@gmail.com <br> Tél : +216 58 464 742 </p>

          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Yasmin Mbarki</a></h3>
          <h4>Responsable RH et Formations</h4>
        </div>
      </div>
    </div>


      &lt;!&ndash;Team Block Two&ndash;&gt;
      <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10" >
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/communication.jpg" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger"><br><br>" Aller vers l’infini, ce n’est pas seulement avancer très loin, c’est avancer éternellement. "</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; left:45px" > E-mail : firaseltaief1925@gmail.com <br> Tél : +216 225 641 622 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">Phyras Eltaief</a></h3>
                  <h4>Responsable Communication</h4>
              </div>
          </div>
      </div>
      &lt;!&ndash;Team Block Two&ndash;&gt;
      <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/etude.JPG" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger;position: absolute;top: 0%"><br><br>"Tu deviens responsable pour toujours de ce que tu as apprivoisé"</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; left:25px" > E-mail : benmahrezmariem@gmail.com <br> Tél : +216 22 456 380 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">Mariem Ben Mahrez</a></h3>
                  <h4>Responsable Etudes</h4>
              </div>
          </div>
      </div>




  </div>-->

      <!--Team Block Two-->
      <div *ngFor="let member of members" class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/{{member.image}}" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger; text-align: center"><br><br>{{member.quote}}</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <br> <br> <br><p align="center" style="color: snow; position: absolute;bottom: 17%;  text-align: center;width: 100%" > E-mail : {{member.email}} <br> Tél : {{member.tel}} </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">{{member.name}}</a></h3>
                  <h4>{{member.post}}</h4>
              </div>
          </div>
      </div>
      <div class="flex-lg-row" style="width: 100%; align-content: center" align="center">
     <!-- Team Block Two-->
      <div class="team-block-two col-lg-3 col-lg-offset-3 col-md-4 col-sm-6 col-xs-10" >
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/communication.jpg" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger"><br><br>" Aller vers l’infini, ce n’est pas seulement avancer très loin, c’est avancer éternellement. "</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; width: 100%;" > E-mail : firaseltaief1925@gmail.com <br> Tél : +216 225 641 622 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">Phyras Eltaief</a></h3>
                  <h4>Responsable Communication</h4>
              </div>
          </div>
      </div>
      <!--Team Block Two-->

      <div class="team-block-two col-lg-3 col-lg-pull-3 col-md-4  col-sm-6 col-xs-10">
          <div class="inner-box">
              <div class="image">
                  <img src="../../../assets/images/Structure/bureau2018-2019/etude.JPG" alt="" />
                  <div class="overlay-box">
                      <p style="color: snow;font-size: larger;position: absolute;top: 0%"><br><br>"Tu deviens responsable pour toujours de ce que tu as apprivoisé"</p>
                      <ul class="social-icon-two">
                          <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                          <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
                          <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                          <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                      </ul>
                      <p align="center" style="color: snow; position: absolute;bottom: 17%; width: 100%;" > E-mail : benmahrezmariem@gmail.com <br> Tél : +216 22 456 380 </p>

                  </div>
              </div>
              <div class="lower-box">
                  <h3><a href="#">Mariem Ben Mahrez</a></h3>
                  <h4>Responsable Etudes</h4>
              </div>
          </div>
      </div>


      </div>

  </div>
</body>