<div class="auto-container">

  <div class="sec-title-two">
    <h2>Membres du bureau executif:</h2>
    <div class="text">Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est.</div>
  </div>

  <div class="row clearfix">

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-5.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-6.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Michale Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-7.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-8.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Satlen Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-9.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-10.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Michale Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-11.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-6.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Michale Joe</a></h3>
        </div>
      </div>
    </div>

  </div>


  <div class="sec-title-two">
    <h2>Membres:</h2>
    <div class="text">Osed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt neque porro quisquam est.</div>
  </div>

  <div class="row clearfix">

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-5.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-6.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Michale Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-7.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-8.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Satlen Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-9.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-10.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Michale Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-11.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Robert Joe</a></h3>
        </div>
      </div>
    </div>

    <!--Team Block Two-->
    <div class="team-block-two col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="inner-box">
        <div class="image">
          <img src="../../../assets/images/resource/team-6.jpg" alt="" />
          <div class="overlay-box">
            <ul class="social-icon-two">
              <li><a href="#"><span class="fa fa-facebook"></span></a></li>
              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
            </ul>
          </div>
        </div>
        <div class="lower-box">
          <h3><a href="#">Michale Joe</a></h3>
        </div>
      </div>
    </div>

  </div>

</div>