<section class="page-title" style="background-image:url(../../../assets/images/background/6.jpg)">
  <div class="auto-container">
      <h1>ÉVÉNEMENTS</h1>
        <ul class="page-breadcrumb">
          <li><a routerLink="/home">Accueil</a></li>
            <li>Événements</li>
        </ul>
    </div>
</section>

<section class="news-page-section">
  <div class="auto-container">
      <div class="row clearfix">
          
            <!--News Block Three-->
            <div *ngFor="let event of events" class="news-block-three col-md-6 col-sm-6 col-xs-12">
              <div class="inner-box">
                  <div class="image">
                      <a routerLink="/events/{{event.id}}"><img src="../../../assets/images/resource/{{event.image}}" alt=""></a>
                    </div>
                    <div class="lower-content">
                      <div class="upper-box">
                          <div class="posted-date">{{event.date}}</div>
                            <ul class="post-meta">
                              <li>By: </li>
                              <li *ngFor="let orgonaziedBy of event.orgonaziedBy">{{orgonaziedBy}}</li>
                            </ul>
                        </div>
                        <div class="lower-box">
                          <h3><a routerLink="/events/{{event.id}}">{{event.title}}</a></h3>
                            <div class="text">{{event.description}}. </div>
                            <a routerLink="/events/{{event.id}}" class="theme-btn btn-style-four read-more">Lire la suite</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <!--Styled Pagination-->
        <ul class="styled-pagination text-center">
            <li><a routerLink="#" class="active">1</a></li>
            <li><a routerLink="#">2</a></li>
            <li><a routerLink="#"><span class="fa fa-angle-right"></span></a></li>
        </ul>                
        <!--End Styled Pagination-->
        
    </div>
</section>