<header class="main-header header-style-two">

  <!-- Header Top -->
  <div class="header-top">
    <div class="auto-container">
      <div class="clearfix">

        <!--Top Left-->
        <div class="top-left clearfix">
          <!--social-icon-->
          <div class="social-icon">
            <ul class="clearfix">
              <li><a href="https://www.facebook.com/INAT.Junior.Entreprise/" style="color: #DAA520"><span
                    class="fa fa-facebook"></span></a></li>
              <li><a target="_blank"
                  href="https://www.linkedin.com/in/inat-junior-entreprise-9668aa17a?fbclid=IwAR2Ck1cJpLRT3HmQMIbQMZvxyiJ-suXAiW5iXBCbKuagnBEZsDtAHq42xRw"><span
                    class="fa fa-linkedin" style="color: #DAA520"></span></a></li>
              <li><a href="https://www.instagram.com/inat_junior_entreprise/" style="color: #DAA520"><span
                    class="fa fa-instagram"></span></a></li>
            </ul>
          </div>

        </div>

        <!--Top Right-->
        <div class="top-right">
          <ul class="links clearfix">
            <li><a href="#" style="color: #DAA520"><span class="icon fa fa-phone"></span>
                (+216) 25 865 393</a></li>
            <li><a href="mailto:junior.entreprise.inat@gmail.com" target="blank" style="color: #DAA520"><span
                  class="icon fa fa-envelope-o"></span>junior.entreprise.inat@gmail.com</a></li>
          </ul>
        </div>

      </div>

    </div>
  </div>
  <!-- Header Top End -->

  <!-- Main Box -->
  <div class="main-box">
    <div class="auto-container">
      <div class="outer-container clearfix">
        <!--Logo Box-->
        <div class="logo-box">
          <div class="logo"><a href="/home"><img src="../../../assets/images/Logo IJE NOIR DFF.png" alt=""></a></div>
        </div>

        <!--Nav Outer-->
        <div class="nav-outer clearfix">
          <!-- Main Menu -->
          <nav class="main-menu">
            <div class="navbar-header">
              <!-- Toggle Button -->
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <div class="navbar-collapse collapse clearfix">
              <ul class="navigation clearfix">
                <li class="dropdown" routerLinkActive="current">
                  <a routerLink="/home">Accueil</a>
                </li>
                <li class="dropdown" routerLinkActive="current">
                  <a routerLink="/news">News</a>
                </li>
                <li class="dropdown" routerLinkActive="current">
                  <a routerLink="/projects">Projets</a>
                </li>
                <li class="dropdown" routerLinkActive="current">
                  <a routerLink="/events">Événements</a>
                </li>
                <li class="dropdown" routerLinkActive="current">
                  <a routerLink="/formations">Formations</a>
                </li>
                <li class="dropdown" routerLinkActive="current">
                  <a routerLink="aboutUs">À propos de nous</a>
                  <ul style="display: block">
                    <li><a routerLink="/structure">Structure</a></li>
                    <li><a routerLink="sponsors">Sponsors</a></li>
                    <!-- <li><a routerLink="rse">RSE</a></li> -->
                  </ul>
                  <div class="dropdown-btn">
                    <span class="fa fa-angle-down"></span>
                  </div>
                </li>
                <li routerLinkActive="current"><a routerLink="/contact">Contactez nous</a></li>
              </ul>
            </div>
          </nav>
          <!-- Main Menu End-->
        </div>
        <!--Nav Outer End-->

      </div>
    </div>
  </div>

  <!--Sticky Header-->
  <div class="sticky-header">
    <div class="auto-container clearfix">
      <!--Logo-->
      <div class="logo pull-left" style="position: fixed; margin-top: -5.5px">
        <a href="/home" class="img-responsive"><img src="../../../assets/images/Logo IJE NOIR DFF.png" alt=""
            title=""></a>
      </div>

      <!--Right Col-->
      <div class="right-col pull-right">
        <!-- Main Menu -->
        <nav class="main-menu">
          <div class="navbar-header">
            <!-- Toggle Button -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
          </div>

          <div class="navbar-collapse collapse clearfix">
            <ul class="navigation clearfix">
              <li class="dropdown" routerLinkActive="current">
                <a routerLink="/home">Accueil</a>
              </li>
              <li class="dropdown" routerLinkActive="current">
                <a routerLink="/news">News</a>
              </li>
              <li class="dropdown" routerLinkActive="current">
                <a routerLink="/projects">Projets</a>
              </li>
              <li class="dropdown" routerLinkActive="current">
                <a routerLink="/events">Événements</a>
              </li>
              <li class="dropdown" routerLinkActive="current">
                <a routerLink="/formations">Formations</a>
              </li>
              <li class="dropdown" routerLinkActive="current">
                <a routerLink="aboutUs">À propos de nous</a>
                <ul>
                  <li><a routerLink="/structure">Structure</a></li>
                  <li><a routerLink="sponsors">Sponsors</a></li>
                  <!-- <li><a routerLink="rse">RSE</a></li> -->
                </ul>
                <div class="dropdown-btn">
                  <span class="fa fa-angle-down"></span>
                </div>
              </li>
              <li routerLinkActive="current"><a routerLink="/contact">Contactez nous</a></li>
            </ul>
          </div>
        </nav><!-- Main Menu End-->
      </div>
    </div>
  </div>
  <!--End Sticky Header-->

</header>