<header class="main-header header-style-two">
    
    <!-- Header Top -->
    <div class="header-top">
        <div class="auto-container">
            <div class="clearfix">
                  
                  <!--Top Left-->
                  <div class="top-left clearfix">
                    <!--social-icon-->
                      <div class="social-icon">
                        <ul class="clearfix">
                            <li><a href="#"><span class="fa fa-facebook"></span></a></li>
                              <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                              <li><a href="#"><span class="fa fa-google-plus"></span></a></li>
                              <li><a href="#"><span class="fa fa-linkedin"></span></a></li>
              <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                          </ul>
                      </div>
                      
                  </div>
                  
                  <!--Top Right-->
                  <div class="top-right">
                    <ul class="links clearfix">
                        <li><a href="#"><span class="icon fa fa-phone"></span>1800.568.3248</a></li>
                          <li><a href="#"><span class="icon fa fa-envelope-o"></span>info@woodex.com</a></li>
                      </ul>
                  </div>
                  
              </div>
              
          </div>
      </div>
      <!-- Header Top End -->
      
      <!-- Main Box -->
    <div class="main-box">
        <div class="auto-container">
            <div class="outer-container clearfix">
                  <!--Logo Box-->
                  <div class="logo-box">
                      <div class="logo"><a href="/home"><img src="../../../assets/images/JEinat.jpg" alt=""></a></div>
                  </div>
                  
                  <!--Nav Outer-->
                  <div class="nav-outer clearfix">
                      <!-- Main Menu -->
                      <nav class="main-menu">
                          <div class="navbar-header">
                              <!-- Toggle Button -->    	
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                          
                          <div class="navbar-collapse collapse clearfix">
                              <ul class="navigation clearfix">
                                <li class="current dropdown">
                                  <a routerLink="/home">Accueil</a>
                                </li>
                                <li class="dropdown">
                                  <a routerLink="/events">Événements</a>
                                </li>
                                <li class="dropdown">
                                  <a routerLink="/projects">Projets</a>
                                </li>
                                <li class="dropdown">
                                  <a routerLink="/formations">Formations</a>
                                </li>
                                <li class="dropdown">
                                  <a routerLink="aboutUs">À propos de nous</a>
                                  <ul style="display: block">
                                    <li><a routerLink="/structure">Structure</a></li>
                                    <li><a routerLink="sponsors">Sponsors</a></li>
                                    <li><a routerLink="rse">RSE</a></li>
                                  </ul>
                                  <div class="dropdown-btn">
                                    <span class="fa fa-angle-down"></span>
                                  </div>
                                </li>
                                <li><a routerLink="/contact">Contactez nous</a></li>
                              </ul>
                            </div>
                      </nav>
                      <!-- Main Menu End-->
                  </div>
                  <!--Nav Outer End-->
                  
            </div>    
          </div>
      </div>
  
    <!--Sticky Header-->
      <div class="sticky-header">
        <div class="auto-container clearfix">
            <!--Logo-->
            <div class="logo pull-left">
                <a href="/home" class="img-responsive"><img src="../../../assets/images/JEinat.jpg" alt="" title=""></a>
              </div>
              
              <!--Right Col-->
              <div class="right-col pull-right">
                <!-- Main Menu -->
                  <nav class="main-menu">
                      <div class="navbar-header">
                          <!-- Toggle Button -->    	
                          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                              <span class="icon-bar"></span>
                          </button>
                      </div>
                      
                      <div class="navbar-collapse collapse clearfix">
                          <ul class="navigation clearfix">
                            <li class="current dropdown">
                              <a routerLink="/home">Accueil</a>
                            </li>
                            <li class="dropdown">
                              <a routerLink="/events">Événements</a>
                            </li>
                            <li class="dropdown">
                              <a routerLink="/projects">Projets</a>
                            </li>
                            <li class="dropdown">
                              <a routerLink="/formations">Formations</a>
                            </li>
                            <li class="dropdown">
                              <a routerLink="aboutUs">À propos de nous</a>
                              <ul>
                                <li><a routerLink="/structure">Structure</a></li>
                                <li><a routerLink="sponsors">Sponsors</a></li>
                                <li><a routerLink="rse">RSE</a></li>
                              </ul>
                              <div class="dropdown-btn">
                                <span class="fa fa-angle-down"></span>
                              </div>
                            </li>
                            <li><a routerLink="/contact">Contactez nous</a></li>
                          </ul>
                        </div>
                  </nav><!-- Main Menu End-->
              </div>      
          </div>
      </div>
      <!--End Sticky Header-->
  
  </header>
