<!--Page Title-->
<section class="page-title aboutUs">
  <div class="auto-container">
    <h1>À propos de nous</h1>
    <ul class="page-breadcrumb">
      <li><a routerLink="/home">Accueil</a></li>
      <li>À propos de nous</li>
    </ul>
  </div>
</section>
<!--End Page Title-->


<section class="workshop-section">
  <div class="auto-container">
      <div class="row clearfix">
          <!--Content Column-->
          <div class="content-column col-md-8 col-sm-12 col-xs-12">
              <div class="inner-column">
                    <h2>L'Institut national agronomique de Tunisie </h2>
                    <div class="text">INAT est un établissement d'enseignement supérieur tunisien fondé le 17 octobre 1898.

                      Il constitue la plus ancienne école d'ingénieurs de Tunisie et d'Afrique. Il est placé sous 
                      la double tutelle du ministère de l'Agriculture (institution de recherche et d'enseignement supérieur agricoles) 
                      et du ministère de l'Enseignement supérieur et de la Recherche scientifique (Université de Carthage).
                      
                      L'INAT forme aussi à la recherche par une école doctorale qui décerne des masters et des doctorats.. </div>
                </div>
            </div>
            <!--Image Column-->
          <div class="image-column col-md-4 col-sm-8 col-xs-12">
              <div class="inner-column">
                  <div class="image">
                      <img style="border: 1px solid grey" src="../../../assets/images/Logo_inat.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>

<section style="margin-top: -40px" class="workshop-section">
  <div class="auto-container">
      <div class="row clearfix">
          <!--Content Column-->
          <div class="content-column col-md-8 col-sm-12 col-xs-12">
              <div class="inner-column">
                    <h2>L'INAT Junior Entreprise</h2>
                    <div class="text">
                        Notre stratégie repose sur trois volets principaux, à savoir :
                       <br> - La prospection, la réalisation et la commercialisation des projets 
                       <br> - Les formations approfondies en Soft et Hard-skills 
                       <br> - Les événements stratégiques pour la promotion et de l'image de marque et des projets entrepris .  
                    <br>   <span>Founding date :</span>  2012 
                    <br>   <span>Récompenses :</span>  
                    <br>    -Meilleure Initiative 2015/2016
                    <br>    -Meilleure Junior Engagée 2016/2017
                    <br>   <span>Produits : </span> 
                    <br>  - Les cultures hydroponiques et hors sol 
                    <br>  - La confection de systèmes hydroponiques adaptés à la demande des clients 
                    <br>  - La culture de champignons 
                    <br>  - Les études expérimentales
                      </div>
                </div>
            </div>
            <!--Image Column-->
          <div class="image-column col-md-4 col-sm-8 col-xs-12">
              <div class="inner-column">
                  <div class="image">
                      <img style="border: 1px solid grey" src="../../../assets/images/JEinat.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>        
    </div>
</section>




