<link href="../../../assets/css/bootstrap.css" rel="stylesheet">
<link href="../../../assets/plugins/revolution/css/settings.css" rel="stylesheet" type="text/css"><!-- REVOLUTION SETTINGS STYLES -->
<link href="../../../assets/plugins/revolution/css/layers.css" rel="stylesheet" type="text/css"><!-- REVOLUTION LAYERS STYLES -->
<link href="../../../assets/plugins/revolution/css/navigation.css" rel="stylesheet" type="text/css"><!-- REVOLUTION NAVIGATION STYLES -->
<link href="../../../assets/css/style.css" rel="stylesheet">
<link href="../../../assets/css/responsive.css" rel="stylesheet">

<!--Color Switcher Mockup-->
<link href="../../../assets/css/color-switcher-design.css" rel="stylesheet">

<!--Color Themes-->
<link id="theme-color-file" href="../../../assets/css/color-themes/default-theme.css" rel="stylesheet">


<link rel="shortcut icon" href="../../../assets/images/favicon.png" type="image/x-icon">
<link rel="icon" href="../../../assets/images/favicon.png" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">

<!--Page Title-->
<section class="page-title" style="background-image:url(../../../assets/images/background/BureauExecutif_2018-2019.jpg)">
  <div class="auto-container">
    <h1>About Us</h1>
    <ul class="page-breadcrumb">
      <li><a href="../../../index.html">Home</a></li>
      <li>About Us</li>
    </ul>
  </div>
</section>
<!--End Page Title-->


<!-- Begin section Structure-->
  <section class="team-section grey-bg">
    <app-structure></app-structure>
  </section>
<!--End Structure Section-->

<!-- Begin Structure sponsors-->
  <section >
    <app-sponsors-partenaire></app-sponsors-partenaire>
  </section>
<!--End Sponsors Section-->


<!-- Begin rse section-->
  <section>
    <app-rse></app-rse>
  </section>
<!--End rse Section-->



